resource "libvirt_cloudinit_disk" "{{ sno_prefix }}_bastion0_cloudinit" {
  name = "{{ sno_prefix }}_bastion0_cloudinit.iso"
  pool = libvirt_pool.default.name

  user_data = <<-EOS
    #cloud-config
    fqdn: bastion0
    ssh_pwauth: true
    disable_root: true

    users:
      - name: {{ sno_bastion_user }}
        sudo: ['ALL=(ALL) NOPASSWD:ALL']
        shell: /bin/bash
        groups: wheel

    chpasswd:
      list: |
        {{ sno_bastion_user }}:{{ sno_bastion_password }}
      expire: false
  EOS

  network_config = <<-EOS
    version: 2
    ethernets:
      nic-0:
        match:
          macaddress: "{{ sno_bastion_mac_mgmt }}"
        dhcp4: true
      nic-1:
        match:
          macaddress: "{{ sno_bastion_mac_sno }}"
        addresses:
          - {{ sno_proxy_ip }}/24
        routes:
          - to: default
            via: {{ sno_gateway }}
  EOS
}

resource "libvirt_volume" "{{ sno_prefix }}_bastion0_os_image" {
  name   = "{{ sno_prefix }}_bastion0_os_image.qcow2"
  pool   = libvirt_pool.default.name
  source = "{{ sno_bastion_os_image }}"
  format = "qcow2"
}

resource "libvirt_volume" "{{ sno_prefix }}_bastion0" {
  name           = "{{ sno_prefix }}_bastion0.qcow2"
  pool           = libvirt_pool.default.name
  base_volume_id = libvirt_volume.{{ sno_prefix }}_bastion0_os_image.id
  format         = "qcow2"
  size           = {{ sno_bastion_disk_size }} * 1024 * 1024 * 1024
}

resource "libvirt_domain" "{{ sno_prefix }}_bastion0" {
  name      = "{{ sno_prefix }}_bastion0"
  vcpu      = {{ sno_bastion_vcpu }}
  memory    = {{ sno_bastion_memory }} * 1024
  autostart = true

  cpu {
    mode = "host-passthrough"
  }

  network_interface {
    network_id     = libvirt_network.default_network.id
    mac            = "{{ sno_bastion_mac_mgmt }}"
    wait_for_lease = true
  }

  network_interface {
    network_id = libvirt_network.{{ sno_prefix }}_network.id
    mac        = "{{ sno_bastion_mac_sno }}"
  }

  disk {
    volume_id = libvirt_volume.{{ sno_prefix }}_bastion0.id
    scsi      = "true"
  }

  cloudinit = libvirt_cloudinit_disk.{{ sno_prefix }}_bastion0_cloudinit.id

  console {
    type        = "pty"
    target_type = "serial"
    target_port = "0"
  }

  graphics {
    type        = "vnc"
    listen_type = "address"
    autoport    = "true"
  }
}
