apiVersion: v1
baseDomain: {{ sno_base_domain }}
metadata:
  name: {{ sno_cluster_name }}
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 1
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
  machineNetwork:
  - cidr: {{ sno_machine_network }}
platform:
  none: {}
fips: false
proxy:
  httpProxy: http://{{ sno_proxy_ip }}:{{ sno_proxy_port }}
  httpsProxy: http://{{ sno_proxy_ip }}:{{ sno_proxy_port }}
  noProxy: {{ sno_machine_network }},.{{ sno_cluster_name }}.{{ sno_base_domain }},.cluster.local,.svc,.local,localhost,127.0.0.1
pullSecret: '{{ lookup("file", sno_pull_secret_path) }}'
sshKey: '{{ _sno_ssh_pubkey }}'
